In [1]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler

df=pd.read_csv("creditcard.csv")

In [2]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [4]:
print(df.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.shape)

1081
(283726, 31)

In [6]:
x=df.drop('Class',axis=1)
y=df['Class']
scaler = StandardScaler()
x[['Time', 'Amount']] = scaler.fit_transform(x[['Time', 'Amount']])

In [7]:
y

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 283726, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

IMPLEMENTING LOGISTIC REGRESSION

In [9]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

0.9991541254009093
[[56650    42]
 [    6    48]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56692
           1       0.53      0.89      0.67        54

    accuracy                           1.00     56746
   macro avg       0.77      0.94      0.83     56746
weighted avg       1.00      1.00      1.00     56746

IMPLEMENTING DECISION TREE CLASSIFIER

In [10]:

from sklearn.tree import DecisionTreeClassifier
treemodel=DecisionTreeClassifier( )
treemodel.fit(x_train,y_train)
y_pred=treemodel.predict(x_test)
y_pred
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))
print(classification_report(y_pred,y_test))

0.9991541254009093
[[56631    23]
 [   25    67]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56654
           1       0.74      0.73      0.74        92

    accuracy                           1.00     56746
   macro avg       0.87      0.86      0.87     56746
weighted avg       1.00      1.00      1.00     56746

IMPLEMENTING KNN USING K=1

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(x_train,y_train)
ypred=knn.predict(x_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score
print(confusion_matrix(y_test,ypred))
print(classification_report(y_test,ypred))
print( accuracy_score(y_test, ypred))

[[56647     9]
 [   25    65]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56656
           1       0.88      0.72      0.79        90

    accuracy                           1.00     56746
   macro avg       0.94      0.86      0.90     56746
weighted avg       1.00      1.00      1.00     56746

0.9994008388256441

IMPLEMENTING KNN MODEL USING K=5

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
ypred=knn.predict(x_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score
print(confusion_matrix(y_test,ypred))
print(classification_report(y_test,ypred))
print( accuracy_score(y_test, ypred))

[[56653     3]
 [   25    65]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56656
           1       0.96      0.72      0.82        90

    accuracy                           1.00     56746
   macro avg       0.98      0.86      0.91     56746
weighted avg       1.00      1.00      1.00     56746

0.9995065731505305